@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$font-family-base: "Inter", sans-serif;
$body-color: #2e2320;
$body-bg: #fcfcfc;
$primary: #2e2320;
$secondary: #eb3300;
$body-secondary-color: #eb3300;

@import "bootstrap/scss/bootstrap";

@mixin make-xxl-container($padding-x: $container-padding-x) {
  width: 100%;
  max-width: 1888px;
  padding-right: calc($padding-x * 0.5);
  padding-left: calc($padding-x * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.container-xxxl {
  @include make-xxl-container();
}

@mixin make-font-size-xl() {
  font-size: $font-size-base * 2;
}

.font-size-xl {
  @include make-font-size-xl();
}

@mixin make-font-size-xxl() {
  font-size: $font-size-base * 3;
}

.font-size-xxl {
  @include make-font-size-xl();

  @media (min-width: 1200px) {
    @include make-font-size-xxl();
  }
}

body {
  overflow-x: hidden;
}

p {
  font-size: 18px;
  line-height: 30px;
}

h5 {
  line-height: 32px;
  color: #ababab;
  text-transform: uppercase;
  font-weight: 700;
}

.text-gray {
  color: #585858;
}

.btn-secondary {
  color: $white;

  &:hover {
    color: $white;
  }
}

/* HEADER & NAVIGATION */

header {
  width: 100%;
  z-index: 1030;
  transition: position 0.3s ease;

  .menu-bar {
    background-color: rgba($color: $white, $alpha: 0.2);
    background-filter: blur(120px);
    -webkit-backdrop-filter: blur(120px);
    border-radius: 100px;
    padding: $spacer * 0.5;
    border: 1px solid rgba($color: $white, $alpha: 0.2);

    .navbar-nav {
      .nav-link {
        color: $white;
        padding-left: $container-padding-x * 0.5;
        padding-right: $container-padding-x * 0.5;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;

        &:hover,
        &:focus {
          color: $gray-300;
        }
      }
    }
  }

  .navbar-toggler {
    height: 47px;
    width: 47px;
  }

  .btn-give {
    background-color: rgba($color: $white, $alpha: 0.2);
    border-radius: 100px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: $white;
    margin-left: $spacer * 3;

    &:hover,
    &:focus {
      color: $white;
    }
  }

  .account-links {
    a {
      color: $white;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: none;
        color: $gray-300;
      }
    }
  }
}

.header-absolute {
  position: absolute;
  top: calc($container-padding-x * 2);
  left: 0;

  @media (min-width: 1200px) {
    top: 70px;
  }

  .navbar {
    padding: 0 $container-padding-x;

    @media (min-width: 1200px) {
      padding: $container-padding-x calc($container-padding-x * 2.75) !important;
    }
  }
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $primary;
}

/* HERO SECTION */

.hero-container {
  background-image: url("../images/main-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 48px;
  margin-top: $container-padding-x * 0.5;
  padding: $container-padding-x;

  @media (min-width: 1200px) {
    padding: $container-padding-x * 3 $spacer * 3.75 $container-padding-x * 2;
  }

  .hero-content {
    margin-top: $spacer * 9;

    @media (min-width: 1200px) {
      margin-top: $spacer * 23;
    }
  }

  h1 {
    color: $white;
    font-size: 65px;
    line-height: 72px;
    font-weight: 900;
    max-width: 516px;

    @media (min-width: 1200px) {
      font-size: 80px;
      line-height: 96px;
      max-width: unset;
    }
  }

  p {
    color: $white;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    max-width: 450px;

    @media (min-width: 1200px) {
      font-size: 36px;
      line-height: 48px;
      max-width: 900px;
    }
  }

  .hero-button {
    .btn-primary {
      background-color: #fbfbfb;
      border-radius: 8px;
      border: 1px solid #fbfbfb;
      font-weight: 700;
      color: $body-color;

      &:hover {
        color: $white;
        background-color: rgba($color: $white, $alpha: 0.3);
        border: 1px solid rgba($color: $white, $alpha: 0.4);
        background-filter: blur(100px);
        -webkit-backdrop-filter: blur(100px);
      }
    }
  }

  .hero-bottom {
    margin-top: $spacer * 5;

    @media (min-width: 1200px) {
      margin-top: $spacer * 10;
    }
  }

  .countdown-container {
    .copy,
    .counter {
      line-height: 34.5px;
      font-size: 28px;
      color: $white;
      font-weight: 400;
    }

    .counter {
      font-weight: 700;
    }
  }

  .social-icons {
    a {
      color: $white;
      font-size: 22.63px;
      line-height: 27.16px;
    }
  }
}

/* WELCOME SECTION */

.welcome {
  margin-top: $spacer * 5;

  @media (min-width: 1200px) {
    margin-top: $spacer * 6;
    max-width: 1280px;
  }
}

.layout-1 {
  .row {
    .col-12:first-of-type {
      max-width: 550px;
    }

    .col-12:last-of-type {
      max-width: 451px;
    }
  }
}

/* MISSION SECTION */

.mission {
  position: relative;
  overflow: hidden;
  border-radius: 48px;
  margin-top: $spacer * 3;

  @media (min-width: 1200px) {
    margin-top: $spacer * 10;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../images/wave-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 48px;
    z-index: -1;
  }

  .container {
    position: relative;
    z-index: 1;
    color: $white;
    padding: $spacer * 3 $container-padding-x 0;

    @media (min-width: 1200px) {
      padding-top: $spacer * 9;
    }

    .message {
      .h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 54px;
      }

      p {
        strong {
          font-weight: 700;
        }
      }
    }
  }
}

.arrow-section {
  display: grid;
  justify-items: center;

  i {
    grid-column: 1;
    grid-row: 1;
  }

  img {
    grid-column: 1;
    grid-row: 1;
  }
}

.mission-blocks {
  gap: $spacer * 2;
}

#mission-carousel {
  .owl-stage-outer {
    .owl-stage {
      display: flex;
    }
  }
}

.mission-block {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  padding: $spacer * 3;
  background-color: $white;
  box-shadow: 0px 20px 25px -5px #0000001a;
  color: #2e2320;
  align-items: center;
  justify-content: center;
  gap: $spacer * 2;
  align-self: stretch;
  height: 100%;

  &:hover {
    box-shadow: 0px 10px 10px -5px #0000000a;
  }

  img {
    width: 115.63485717773438px !important;
    height: 97.84318542480469px;
    opacity: 1;
  }

  .copy {
    text-align: center;

    span {
      font-weight: 700;
      font-size: 28px;
      line-height: 100%;
      display: block;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  a {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #eb3300;
    text-decoration: none;
    border: 0 solid transparent;
    border-bottom-width: 2px;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);

    &:hover {
      color: rgba($color: #eb3300, $alpha: 0.8);
      border-color: rgba($color: #eb3300, $alpha: 0.8);
      text-decoration: none;
      transition-duration: 0.1s;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

.gospel {
  padding: 0 $container-padding-x;
  color: $white;

  @media (min-width: 1200px) {
    margin-top: $spacer * 8;
  }

  h5 {
    color: $white;
    opacity: 0.6;
  }
}

/* VISIT SECTION */

.visit-container {
  display: grid;
  position: relative;

  @media (min-width: 1200px) {
    margin-top: $spacer * 8 !important;
  }

  .background-images {
    grid-row: 1;
    grid-column: 1;
    position: relative;

    .bg-right {
      position: absolute;
      width: 250px;
      height: 250px;
      z-index: -2;
      top: 0;
      right: 0;
      opacity: 0.6;

      @media (min-width: 1200px) {
        width: 756px;
        height: 756px;
        top: -475px;
      }
    }

    .bg-left {
      top: 265px;
      position: absolute;
      width: 250px;
      height: 250px;
      z-index: -2;
      left: 0;
      opacity: 0.6;

      @media (min-width: 1200px) {
        width: 756px;
        height: 756px;
        top: 185px;
        left: -185px;
      }
    }
  }

  .line {
    position: absolute;
    padding-left: $spacer * 0.75;

    &.vertical {
      bottom: 0;
      right: 0;
      rotate: 90deg;
      padding-left: 0;
    }
  }

  .visit {
    grid-row: 1;
    grid-column: 1;
    position: relative;
    max-width: 1069px;

    @media (min-width: 1200px) {
      // margin-top: $spacer * 8 !important;
      padding-top: $spacer * 8 !important;
    }

    .line {
      width: 55px;
      height: 5px;
    }

    span {
      font-weight: 800;
      font-size: 40px;
      line-height: 46px;

      @media (min-width: 1200px) {
        font-size: 60px;
        line-height: 60px;
      }

      .highlight {
        color: #eb3300;
      }

      .gray {
        color: #192c4066;
      }
    }
  }
}

/* VOLUNTEER SECTION */

.volunteer {
  margin-top: $spacer * 6;

  @media (min-width: 1200px) {
    margin-top: $spacer * 8;
  }

  > div {
    > img {
      width: 115.63485717773438px;
      height: 97.84318542480469px;
    }

    > p {
      color: #001d3a;
      max-width: 479px;
      margin-bottom: $spacer * 2;
    }
  }
}

.owl-carousel {
  a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    img {
      margin-bottom: $spacer;
    }

    span {
      transition-property: all;
      transition-duration: 150ms;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }

    &:hover {
      color: #eb3300;

      i {
        margin-left: 0.25rem;
        transition-property: margin;
        transition-duration: 150ms;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      }
    }
  }

  .owl-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacer;
    margin-top: $spacer * 1.5;

    @media (min-width: 1200px) {
      margin-top: $spacer * 2;
    }

    button {
      font-size: 32px !important;
    }
  }

  .owl-dots {
    display: none;
  }
}

/* STORIES SECTION */

.stories {
  border-radius: 48px;
  color: $white;

  @media (min-width: 1200px) {
    margin-top: $spacer * 7;
  }

  > div {
    > div {
      > div:first-of-type {
        max-width: 488px;

        span {
          max-width: 300px;

          @media (min-width: 1200px) {
            line-height: 52px;
            max-width: unset;
          }
        }

        p {
          max-width: 360px;
          line-height: 28px;
          margin-bottom: $spacer * 2;

          @media (min-width: 1200px) {
            max-width: 340px;
          }
        }
      }

      > div:last-of-type {
        margin-top: $spacer * 2;

        @media (min-width: 1200px) {
          margin-top: 0;
        }

        > div {
          > div {
            > div.story {
              padding-bottom: $spacer * 1.5;

              @media (min-width: 1200px) {
                padding-bottom: 0;
              }
            }
          }

          > div:last-of-type {
            > div {
              > div:first-of-type {
                @media (min-width: 1200px) {
                  margin-bottom: $spacer * 1.5;
                }
              }
            }
          }
        }
      }
    }
  }
}

.story {
  display: flex;
  flex-direction: column;
  height: 100%;

  img {
    margin-bottom: $spacer * 0.5;
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 1rem;
    max-width: 100%;
  }

  a {
    color: $white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover {
      text-decoration: underline;
    }

    span {
      display: block;
    }
  }
}

/* FOOTER */

footer {
  @media (min-width: 1200px) {
    margin-top: $spacer * 10;
  }

  .contact {
    color: #2e2e2e;

    > span {
      > a {
        display: inline-block;
        text-decoration: none;
        border: 0 solid transparent;
        border-bottom-width: 2px;
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);

        &:hover {
          color: rgba($color: #2e2e2e, $alpha: 0.8);
          border-color: rgba($color: #2e2e2e, $alpha: 0.8);
          text-decoration: none;
          transition-duration: 0.1s;
          transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }
  }

  .social {
    a {
      border: 1px solid $primary;
      border-radius: 50%;
      padding: $container-padding-x;
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 27px;
      transition: background-color 0.1s linear 0s;

      &:hover {
        background-color: $primary;
        color: $white;
        transition-timing-function: ease-out;
        transition-duration: 0.1s;
      }
    }
  }

  .quick-links {
    > div:last-of-type {
      @media (min-width: 1200px) {
        justify-self: flex-end;
      }
    }

    .list-group-item {
      border: 0;
      padding-left: 0;

      > a {
        display: inline-block;
        color: #2e2e2e;
        text-decoration: none;
        border: 0 solid transparent;
        border-bottom-width: 2px;
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);

        &:hover {
          color: rgba($color: #2e2e2e, $alpha: 0.8);
          border-color: rgba($color: #2e2e2e, $alpha: 0.8);
          text-decoration: none;
          transition-duration: 0.1s;
          transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }
  }

  .copyright {
    color: #828282;
    font-size: 15px;
    margin-top: $spacer * 3;
    margin-bottom: $spacer * 1;

    @media (min-width: 1200px) {
      margin-bottom: $spacer * 3;
      margin-top: $spacer * 10;
    }
  }
}
